Repository modmuss50/holiday-server-pack, pull requests merged in 2024-12, with the labels that each got.

#2 [New Mod/Third Party] Instant Feedback
  mods/instant-feedback.json
Labels: new mod, thrid party

#5 Add Grind enchantments
  mods/grind-enchantments.json
Labels: new mod

#6 [New Mod] Expanded Storage
  mods/expandedstorage.json
Labels: new mod

#9 Add More Axolotl Variants Mod & API
  mods/moreaxolotlvariantsapi.json
  mods/moreaxolotlvariantsmod.json
Labels: new mod

#10 [New Mod] Sleep Warp (Updated)
  mods/sleep-warp-updated.json
Labels: new mod, third party

#15 [Mod Update] Instant Feedback v1.4
  mods/instant-feedback.json
Labels: mod update

#14 Update Grind enchantments
  mods/grind-enchantments.json
Labels: mod update

#18 [New Mod/Third Party] REI and Cloth Config
  mods/cloth-config.json
  mods/rei.json
Labels: new mod, third party

#20 Update Expanded Storage
  mods/expandedstorage.json
Labels: mod update

#21 Update Expanded Storage
  mods/expandedstorage.json
Labels: mod update

#22 Add Unbreakable
  mods/owo-lib.json
  mods/unbreakable.json
Labels: new mod

#23 [New Mod] Creeper Confetti Plus
  mods/creeperconfetti+.json
Labels: new mod

#25 [New Mod/Third Party] Rainbow Christmas
  mods/rainbow-christmas.json
Labels: new mod, third party

#28 Add Armor Stand Editor, Brewery, Glide Away, PolyDecorations and Universal Graves
  mods/armor-stand-editor.json
  mods/brewery.json
  mods/glide-away.json
  mods/polydecorations.json
  mods/polymer.json
  mods/universal-graves.json
Labels: new mod

#31 General mod updates
  mods/ender-christmas+.json
  mods/fabric-api.json
  mods/instant-feedback.json
  mods/pyrite.json
Labels: mod update

#30 Add the server to the default list
  mod/src/main/java/holiday/server/ClientEntrypoint.java
  mod/src/main/java/holiday/server/mixin/ServerListMixin.java
  mod/src/main/resources/fabric.mod.json
  mod/src/main/resources/holiday.mixins.json
Labels: enhancement

#34 Add SkinShuffle, Snow Under Trees
  mods/mru.json
  mods/snow-under-trees.json
Labels: new mod

#36 Add a mod list
  README.md
Labels: enhancement

#37 Custom Banner Patterns
  mod/src/main/java/holiday/server/item/HolidayServerItems.java
  mod/src/main/resources/assets/holiday-server-mod/items/fabric_banner_pattern.json
  mod/src/main/resources/assets/holiday-server-mod/items/tater_banner_pattern.json
  mod/src/main/resources/assets/holiday-server-mod/lang/en_ud.json
  mod/src/main/resources/assets/holiday-server-mod/lang/en_us.json
  mod/src/main/resources/assets/holiday-server-mod/models/item/fabric_banner_pattern.json
  mod/src/main/resources/assets/holiday-server-mod/models/item/tater_banner_pattern.json
  mod/src/main/resources/assets/holiday-server-mod/textures/entity/banner/fabric.png
  mod/src/main/resources/assets/holiday-server-mod/textures/entity/banner/tater.png
  mod/src/main/resources/assets/holiday-server-mod/textures/item/fabric_banner_pattern.png
  mod/src/main/resources/assets/holiday-server-mod/textures/item/tater_banner_pattern.png
  mod/src/main/resources/data/holiday-server-mod/banner_pattern/fabric.json
  mod/src/main/resources/data/holiday-server-mod/banner_pattern/tater.json
  mod/src/main/resources/data/holiday-server-mod/recipe/fabric_banner_pattern.json
  mod/src/main/resources/data/holiday-server-mod/recipe/tater_banner_pattern.json
  mod/src/main/resources/data/holiday-server-mod/tags/banner_pattern/pattern_item/fabric.json
  mod/src/main/resources/data/holiday-server-mod/tags/banner_pattern/pattern_item/tater.json
Labels: enhancement

#42 Add the Phantom Pillows mod
  README.md
  mods/phantom-pillows.json
Labels: new mod, merge me please

#41 Add Extended Drawers
  mods/extended-drawers.json
Labels: new mod, merge me please

#45 Update Pyrite
  mods/pyrite.json
Labels: mod update, merge me please

#46 Add PolyFactory and Polydex
  mods/polydex.json
  mods/polyfactory.json
Labels: new mod

#49 Add Leaves Us In Peace
  mods/leaves-us-in-peace.json
Labels: new mod, third party

#50 Update Expanded Storage
  mods/expandedstorage.json
Labels: mod update

#44 Re-Add Unbreakable
  mods/unbreakable.json
Labels: mod update

#53 Update Mod List
  README.md
Labels: enhancement

#60 Update Expanded Storage
  mods/expandedstorage.json
  mods/fabric-api.json
Labels: mod update

#59 Update Brewery
  mods/brewery.json
Labels: mod update

#58 Update ClickThrough+
  mods/clickthrough+.json
Labels: mod update

#57 Update Pyrite
  mods/pyrite.json
Labels: mod update, merge me please

#56 Update Instant Feedback
  mods/instant-feedback.json
Labels: mod update

#54 Update Unbreakable
  mods/unbreakable.json
Labels: mod update, merge me please

#55 Add the AppleSkin mod
  README.md
  mods/appleskin.json
Labels: new mod, third party, merge me please

#48 Force the minecart improvements feature to be enabled
  mod/src/main/java/holiday/server/CommonEntrypoint.java
  mod/src/main/java/holiday/server/mixin/ExperimentsScreenMixin.java
  mod/src/main/java/holiday/server/mixin/LevelStorageMixin.java
  mod/src/main/resources/holiday.mixins.json
Labels: enhancement
